# Node / RN
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.expo/
.expo-shared/
# macOS
.DS_Store
# Env / OS junk
.env
*.local
# Expo bundler cache
bundle/
# iOS build stuff (we're using Expo, not native)
ios/
android/
